/* span{
    color: black;
    font-weight: bolder;
}



.featureProducts .row{
    float: left;
}

.featureProduct img{
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
} */

.featureProducts{
    margin-top: 170px !important; 
    /* border: 1px solid yellowgreen; */
}

.card-img:hover{
    transform: scale(1.2);
}