.heroSlide {
  margin-top: 0px;
  /* background-color: black; */
  /* background-color: yellowgreen; */
  border-radius: 20px;
  border: 1px solid black;
}

.custom-carousel-image{
  margin-top: 35px;
  margin-bottom: 35px;
  width: 1200px !important;
  height: 400px !important;
}



.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* This ensures that the content is centered vertically */
}
