.categoryItem{
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

/* .container{
  border: 1px solid red;
} */

.productCategory a{
  text-decoration: none;
  color: black
}

.productCategory a:hover{
  text-decoration: none;
  color: orangered;
  transform: scale(1.2);
}
.category{
  /* border: 2px solid red !important; */
  box-shadow: gray ;
  margin: 5px !important;
  height: 100px;
  width: 120px;
  /* border: 1px solid red; */
}

.category img{
  height: 30px;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
}

.category h5{
  text-align: center;
}