img {
  height: 100px;
}
.header{
  font-size: large;
  font-weight: bold;
}

.button-primary{
  background-color: transparent; 
  border: none;
  margin-left: 20px;
  margin-right: 25px;
}

.button-primary:hover{
  background-color: whitesmoke;
}

/* Header.css */
/* .custom-navbar {
  background-color: red !important; 
} */
