.header{
  margin-bottom: 100px;
}

.custom-navbar{
  background: linear-gradient(90deg, rgba(86,56,235,0.9023984593837535) 0%, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 13%, rgba(154,149,154,1) 70%);
}

.header .header-item{
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin: 20px;
}

.header .header-item:hover{
  color: wheat
}

/* .navbar-heading {
  margin-top: 5px;
} */

/* In your CSS file */
.custom-dropdown-title .nav-link {
  color: #8bb9fe; /* Change the color to the desired color */
  font-weight: bolder;
}


img {
  height: 100px;
  border-radius: 20px;
  margin-left: 50px;
}

.searchBox{
  width: 100%;
  max-width: 800px !important;
}


.custom-offCanvas {
  background: wheat !important; 
}
.custom-offCanvas a{
  text-decoration: none;
  color: black;
  font-weight: bolder; 
}

.custom-offCanvas a:hover{
  color: red;
}

.custom-offCanvas img{
  margin-left: auto;
}



